<div class="container">
      <div class="row">
            <div class="col-lg-12">
            <div class="pet-profile">
              <div class="bar-profile-wrapper col-lg-3">
                <div class="profile-bar left-bar">

                  <% if current_user && current_user.admin? %>
                    <% if @owner.photo? %>
                      <%= link_to image_tag(@owner.photo.url(:thumb)), user_path(@owner), class: 'profile-user-photo' %>
                    <% else %>
                      <%= link_to image_tag('user.png'), user_path(@owner), class: 'profile-user-photo' %>
                    <% end %>
                  <% end %>

                  <h4>Información</h4>

                  <% if @pet.gender == 'Macho' %>
                    <i class="fa fa-mars profile-gender"></i>
                  <% else %>
                    <i class="fa fa-venus profile-gender"></i>
                  <% end %>

                  <div class="pet-profile-info">
                    <ul>
                      <li><i class="fa fa-paw" aria-hidden="true"></i>Es un <strong><%= @pet.category.title %></strong></li>
                      <li><i class="fa fa-paint-brush" aria-hidden="true"></i>Es de tamaño <strong><%= @pet.size %></strong></li>
                      <li><i class="fa fa-home" aria-hidden="true"></i>Vive en <strong><%= @pet.province %></strong></li>
                      <li><i class="fa fa-globe" aria-hidden="true"></i>Ciudad <strong><%= @pet.city %></strong></li>
                    </ul>
                  </div>
                </div>
              </div>

              <div id="render-posts" class="bar-profile-wrapper col-lg-6">
                <%= render :template => 'posts/index' %>
              </div>

              <div class="bar-profile-wrapper col-lg-3">
                <div class="profile-bar right-bar">
                  <h4>Acciones</h4>
                  <% if current_user %>  
                    <% if Pet.pet_editor(@pet, current_user) %>
                      <%= link_to "Editar", edit_pet_path(@pet), :class => 'btn btn-default' %>
                    <% end %>
                    <% if Adoption.delete_pet(@pet, current_user) || Adoption.delete_by_admin(@pet, current_user)%>
                      <%= link_to "Delete", pet_delete_path(id: @pet), :method => 'patch',
                                    :data => { :confirm => 'Estas seguro que deseas eliminar la mascota?' },
                                    :class => 'btn btn-danger' %>
                    <% end %>
                    <% if current_user.admin? && Adoption.delete_pet(@pet, current_user) || Adoption.delete_by_admin(@pet, current_user)%>
                      <%= link_to "Destroy",
                                    pet_path(@pet),
                                    :method => 'delete',
                                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Estas seguro que deseas eliminar la mascota?')) },
                                    :class => 'btn btn-danger' %>
                    <% end %>
                    <%= render 'pets/actionLinks', user: current_user, pet: @pet %> 
                    <% if !Adoption.adoption_status_exists(@pet, "accepted") %>
                      <%= render 'pets/messageLinks', user: current_user, pet: @pet %>        

                    <% end %>
                  <% elsif !Adoption.adoption_status_exists(@pet, "accepted") %>
                    <%= link_to "Quiero esta Mascota!", new_adoption_path(petId: @pet.id), :class => 'btn btn-success' %>
                  <% end %>
                  <a href="https://www.facebook.com/sharer/sharer.php?u=http://tripcustomizers.com/pets/<%= @pet.slug %>" class="facebook-share btn btn-primary" target="_blank"> 
                    <i class="fa fa-facebook"></i> Compartir
                  </a>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>