<div class="fade-wrapper">
    
    <div class="fade-middle">

        <div class="fade-slider fade-absolute">
            <% @sliders.each do |slider| %>
                <div>
                    <div class="fade-content">
                        <h6><%= slider.title %></h6>
                        <span><%= slider.subtitle %></span>
                        <% if  slider.url? %>
                            <% if slider.buttontitle? %>
                                <%= link_to slider.buttontitle, slider.url  %>
                            <% else %>
                                <%= link_to slider.url, slider.url  %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
        <% if current_user && current_user.admin? %>
            <%= link_to sliders_path do %>
                <i class="fa fa-edit"></i>
            <% end %>
        <% end %>
        <%= image_tag 'pet-background.jpg' %>
    </div>
</div>

