<div class="fade-wrapper">
    
    <div class="fade-middle">

        <div class="fade-slider fade-absolute">
            <% @sliders.each do |slider| %>
                <div>
                    <div class="fade-content">
                        <h6><%= slider.title %></h6>
                        <span><%= slider.subtitle %></span>
                        <% if  slider.url? %>
                            <% if slider.buttontitle? %>
                                <%= link_to slider.buttontitle, slider.url  %>
                            <% else %>
                                <%= link_to slider.url, slider.url  %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
        <% if current_user && current_user.admin? %>
            <%= link_to sliders_path do %>
                <i class="fa fa-edit" data-toggle="tooltip" data-placement="bottom" title="Editar slider"></i>
            <% end %>
        <% end %>
        <%= image_tag 'pet-background.jpg' %>
    </div>
</div>

<% if @pets && @pets.count > 4 %>
  <div class="home-gallery grid-6" id="masonry-thumbs">
    <% @pets.each do |pet| %>
      <div class="home-gallery-image">
          <div class="overlay"></div>
          <%= image_tag pet.photo.url(:large), class: "lazy" %>
      </div>
    <% end %>
  </div>
<% end %>
