<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
		<style type="text/css">
			.round-image {border-radius: 100%;     
										border: 3px solid #fff;
    								box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    								width: 200px;
    								}
		</style>
	</head>
	<body>
		<h1>Has asignado a <%= @adoption.user.full_name %> como el nuevo dueño de <%= @adoption.animal.name %>!</h1>

		<%= image_tag @adoption.animal.photo.url(:large), class: 'round-image' %>

		<p>Asegúrate de comunicarte con él para coordinar la entrega de la mascota.</p>
		<p>A continuación la informacion de contacto:</p>
		<p>Nombre: <%= @adoption.user.full_name %></p>
		<p>Email: <%= @adoption.user.email %></p>
		<p>Teléfono: <%= @adoption.user.phone %></p>

		<p>Te agradecemos mucho el interés en esta red y en la adopción responsable de mascotas.</p>

		<%= image_tag 'image-mailer.png' %>
	</body>
</html>