<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
		<style type="text/css">
			.round-image {border-radius: 100%;     
										border: 3px solid #fff;
    								box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    								width: 200px;
    								}
		</style>
	</head>
	<body>
		<h1><%= @adoption.user.full_name %> ha decidido que no desea conservar a <%= @adoption.animal.name %>!</h1>

		<%= image_tag @adoption.animal.photo.url(:large), class: 'round-image' %>

		<p>La mascota fue devuelta al proceso de adopción.</p>

		<p>Puedes revisar la información de la mascota, haciendo click <%= link_to 'aqui', pet_url(@adoption.animal) %>.</p>

		<%= image_tag 'image-mailer.png' %>
	</body>
</html>