<%= form_for([@pet, @photo], :html => { :class => "form-horizontal photo col-lg-9 col-sm-offset-1" }) do |f| %>

  <% if @errors %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@errors.count, "error") %> prohibited this photo from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @errors.each do |error| %>
          <li><strong>File with identifier <%= error['image'] %> has the following error</strong></li>
          <li><%= error['error'] %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Fotos", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.file_field :photo, type: :file, multiple: true, name: "photos[]", :class => 'form-control', :required => true %>
    </div>
    <%=f.error_span(:photo) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit 'Agregar Fotos', :class => 'btn btn-primary' %>
    </div>
  </div>

<% end %>