<%= form_for([@pet, @photo], remote: true, :html => { :class => "form-horizontal photo col-lg-9 col-sm-offset-1" }) do |f| %>

  <div id="photo_errors"></div>

  <div class="form-group">
    <%= f.label "Fotos", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.file_field :photo, type: :file, multiple: true, name: "photos[]", :class => 'form-control', :required => true %>
    </div>
    <%=f.error_span(:photo) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit 'Agregar Fotos', :class => 'btn btn-primary' %>
    </div>
  </div>

<% end %>