<%= form_for @category, :html => { :class => "form-horizontal category col-lg-8 col-sm-offset-2" } do |f| %>

  <% if @category.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Identificador", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :title, :class => 'form-control', autofocus: true, :required => true, placeholder: "Ingrese la categoría que deseas crear..." %>
    </div>
    <%=f.error_span(:title) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit(@category.new_record? ? "Crear categoría" : "Guardar Cambios", class: 'btn btn-primary') %>
      <%= link_to "Cancelar",
                categories_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
