<h1><%= t('.greeting', recipient: @resource.email, default: "Hola #{@resource.email}!") %></h1>

<p><%= t('.instruction', default: 'Alguien ha solicitado un enlace para cambiar la contraseña, y lo puedes hacer por medio del siguiente enlace.') %></p>

<p><%= link_to t('.action', default: 'Cambiar mi contraseña'), edit_password_url(@resource, reset_password_token: @token, locale: I18n.locale) %></p>

<p><%= t('.instruction_2', default: "Si ud no realizo la solicitud, por favor ignore este mensaje.") %></p>
<p><%= t('.instruction_3', default: "Tu contraseña no cambiará hasta que ingrese al enlace previo y cree una contraseña nueva.") %></p>
